<div class="container-form">
  <h1 class="tittle">Inicio de sesión</h1>
  <form
    class="form"
    [formGroup]="loginForm"
    (ngSubmit)="onSubmit()"
    name="formLogin"
  >
    <div class="username">
      <input
        type="text"
        id="username"
        formControlName="username"
        autocomplete="username"
        placeholder="Usuario"
      />
      <div
        class="error"
        *ngIf="
          loginForm.get('username')?.hasError('required') &&
          loginForm.get('username')?.touched
        "
      >
        Usuario requerido.
      </div>
    </div>
    <div class="username">
      <input
        type="password"
        id="password"
        formControlName="password"
        autocomplete="new-password"
        placeholder="Contraseña"
      />
      <div
        class="error"
        *ngIf="
          loginForm.get('password')?.hasError('required') &&
          loginForm.get('password')?.touched
        "
      >
        Contraseña requerida.
      </div>
    </div>
    <div class="button-container">
      <button type="submit" [disabled]="loginForm.invalid" class="btn-primary">
        Iniciar
      </button>
    </div>
  </form>
</div>
